# ============================================
# DATABASE
# ============================================
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=automotores_db
DB_HOST=postgres
DB_PORT=5432

# ============================================
# BACKEND (NestJS)
# ============================================
NODE_ENV=development
BACKEND_PORT=3000
API_URL=http://localhost:3000
API_PREFIX=api

# ============================================
# FRONTEND (Angular)
# ============================================
ANGULAR_API_URL=http://localhost:3000/api

# ============================================
# DOCKER
# ============================================
# 1 = with volumes (dev), 0 = production
DEV_MODE=1